<!DOCTYPE html>
<html>
<head>
	{% block header %}
		<title>{% block title %}{% endblock %}</title>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1">
		<link rel="stylesheet" href="{{url_for('static', filename = 'materialize.min.css')}}">      
		<script src="{{url_for('static', filename = 'materialize.min.js')}}"></script>
		<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>  
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}
	<script type="text/javascript">M.AutoInit();</script>
</body>
</html>