{% extends "base.html" %}
{% block title %} New paper {% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% set page = "index" %}

{% block body %}
	{{ super() }}
	<div class = "container">
	{% if form.errors %}
	<div class = "section">
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}

    </ul>
	</div>
	{% endif %}
		<h3>Create paper</h3>
		<form method="POST">
			{{ form.hidden_tag() }}
			{{ form.name.label }} {{ form.name() }}
			{{ form.qn.label }} {{ form.qn() }}
			{{ form.choyce.label }} {{ form.choyce() }}
			<div class ="row">
				{{ form.button(class="btn-small") }}
				<div class = "col">
				<a href = "{{ url_for('index') }}" class = "waves-effect waves-light btn-small">Index</a></div>
				</div>
		</form>

	</div>
{% endblock %}