<head>
	<title>Index</title>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
	<link rel="stylesheet" href="{{url_for('static',filename='css/materialize.css')}}">
	<script type = "text/javascript"
		 src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
	</script>
</head>
<body>
	<div class = "container">
	<h1>Index page</h1>
	<ul class = "collection">
		{% for paper in paperz %}
			<li class="collection-item">
				<div style="padding-bottom:12px">
					<a href="{{ url_for('paperView', name = paper.name) }}" ><font size = 5>{{ paper.name }}</font></a>
					<a class="right waves-effect waves-light btn-small #ef9a9a red lighten-1
 " href="{{ url_for('deletePaper', name = paper.name) }}">Delete {{ paper.name }}</a>
				</div>

			</li>
		{% endfor %}
	</ul>
	<a href = "{{ url_for('newPaper') }}" class ="waves-effect waves-light btn"> New paper </a>
	<script src="{{url_for('static',filename='js/materialize.js')}}"></script>
	</div>
</body>