{% extends "base.html" %}
{% block title %} Answers {% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% set page = "index" %}

{% block body %}
	{{ super() }}
<div class = "container">
	{% if form.errors %}
	<div class = "section">
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}

    </ul>
	</div>
	{% endif %}
	<h3>Input answers</h3>
	<form method = "POST">
		<div class="row">
			{% for i in questions %}
			<div class ="input-field col s3">
				<div>
					<label>{{getattr(form, i).label}}</label>
				</div>
				{{getattr(form, i)}}
			</div>
			{% endfor %}
			{{form.hidden_tag()}}
		</div>
		<div class = "row">
			<a href="{{ url_for('paperView', name=name) }}" class = "waves-effect waves-light btn-small">Back</a>
			{{form.button(class="btn-small")}}
		</div>
	</form>
</div>
{% endblock %}