{% extends "base.html" %}
{% block title %} {{paper.name}} {% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% set page = "index" %}

{% block body %}
	{{ super() }}
	<div class = "container expandable">
		<h2> {{ paper.name }}</h2>
		<a class = "waves-effect waves-light btn-small "href = "{{ url_for('newStudent', name = paper.name) }}">New student</a>

		<ul class="collapsible">
			{% for student_key in student_keys %}
				<li> 
					<div class ="collapsible-header">{{ students[student_key]['name'] }}: {{students[student_key]['mark']}}/{{no_of_questions[0]}}</div>
					<div class ="collapsible-body">
						<div class="row">
							<a class="col waves-effect waves-light btn-small" style=" margin-right: 5px" href = "{{url_for('editStudent', name = paper.name, student = students[student_key]['name']) }}">Edit {{students[student_key]['name']}}</a>
							<a class="col waves-effect waves-light btn-small" href ="{{url_for('viewStudent', name = paper.name, student = students[student_key]['name'])}}">Print</a>
							<a class="waves-effect waves-light btn-small red right" href = "{{ url_for('deleteStudent', name = paper.name, student = students[student_key]['name']) }}">Delete {{students[student_key]['name']}}</a>
						</div>
						<div class="container">
							<table class="striped responsive-table">
								<tr>
									{% for i in range(4) %}
										<th>Q</th>
										<th>A</th>
										<th>C</th>
										<th></th>
									{% endfor %}
								</tr>
							{% for i in range(no_of_questions[2]) %}
								<tr style="border: 1 px solid lightgray">
									{% for j in range(4) %}
										{% if j * no_of_questions[2] + i + 1 <= no_of_questions[0] %}
											<th>{{ j * no_of_questions[2] + i + 1}}</th>
											<td>{{answers[j * no_of_questions[2] + i]}}</td>
											<td>{{students[student_key]['student_answers'][i][j]}}</td>
											<td>
												<i class="material-icons">
												{% if students[student_key]['student_answers'][i][j] == answers[j * no_of_questions[2] + i] %}check{% else %}close{% endif %}</i>
											</td>
										{% endif %}
									{% endfor %}
								</tr>
							{% endfor %}
							</table>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
			<div class="row section">
		<div class="col s6">
			<a href="{{url_for('index')}}" class="waves-effect waves-light btn-small blue">Index</a>
			<a href="{{url_for('paperAnswers', name=paper.name, mode='edit')}}" class="waves-effect waves-light btn-small blue">Edit</a>
			<a class = "waves-effect waves-light btn-small blue "href = "{{ url_for('printPaper', name = paper.name) }}">Print all</a>
		</div>
		<table class ="highlight centered">
			<tr>
				<td>No.</td>
				{% for i in paper.choices %}
					<td>{{i}}</td>
				{% endfor %}
			</tr>
			{% for i in range(len(processed_questions)) %}
				<tr>
					<td>{{i+1}}</td>
						{% for j in paper.choices %}
							<td>
							{% if len(students) == 0 %}
								0 (0)
							{% elif answers[i] == j %}
								<font color="green">{{ round(processed_questions[i][j]/len(students)*100, 1) }}% ({{processed_questions[i][j]}})</font>
							{% else %}
								{{ round(processed_questions[i][j]/len(students)*100, 1)}}% ({{processed_questions[i][j]}})
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>

		</div>
	</div>
{% endblock %}