<head>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
	<link rel="stylesheet" href="{{url_for('static',filename='css/materialize.css')}}">
	<script type = "text/javascript"
		 src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
	</script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		tr.ans {
			padding: 0px;
			margin: 0px;
		}
		td.ans {
			padding: 0px;
			margin: 0px;
		}
	</style>
</head>
{% for student_key in student_keys %}
	<div class = "section" {% if (loop.index % 2) == 0 %} style = "page-break-after: always" {% endif %}>
	<h4>{{ students[student_key]['name'] }}: {{students[student_key]['mark']}}/{{no_of_questions[0]}}</h4>
	<table class = "centered">
	{% for i in no_of_questions[1] %}
		{% if (i+1) % 4 == 1 %}
		<tr class="ans" style="border: 1px solid lightgray">
		{% endif %}
			<td class = "ans" style="border-left: 1px solid lightgray">{{i+1}}</td>
			<td class = "ans">{{students[student_key]['student_answers'][i]}}</td>
			<td class = "ans">{{answers[i]}}</td>
			<td class = "ans"style="border-right: 1px solid lightgray"><i class="material-icons">
			{% if students[student_key]['student_answers'][i] == answers[i] %}check{% else %}close{% endif %}</i></td>
		{% if (i+1) % 4 == 0 %}
		</tr>
		{% endif %}
	{% endfor %}
	</table>
	</div>
{% endfor %}

